* { 
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

canvas { 
    background: #eee; 
    display: block; 
    margin: 0 auto; 
}

.buttonContainer{
    text-align: center;
    
}
button{
    margin:auto;
}